
*.xcuserstate

Pixel Coder.xcodeproj/project.xcworkspace/xcuserdata/jack.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Pixel Coder.xcodeproj/project.xcworkspace/xcuserdata/jack.xcuserdatad/UserInterfaceState.xcuserstate

*.pbxproj
